.hero {
  padding: 64px 16px 88px 16px;

  @media (min-width: $desktop) {
    padding: 80px 229px 176px 229px;
  }

  &__bubble {
    position: absolute;
    left: calc(50% + 90px);
    top: -26px;
  }

  &__contact {
    display: inline-block;
    padding: 4px 8px;
    background: $textLink;
    border-radius: 64px;
    font: $mobileTextBoldFont;
    color: $white;
    text-decoration: none;
    @media (min-width: $desktop) {
      font: $desktopTextBoldFont;
    }
  }

  &__container {
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: calc(50% - 212px / 2);
    margin-right: calc(50% - 212px / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @media (min-width: $desktop) {
      margin-bottom: 72px;
    }
  }

  &__description {
    text-align: center;

    @media (min-width: $desktop) {
      max-width: 786px;
      margin: 0 auto;
      position: relative;
      &::before,
      &::after {
        width: 82.94px;
        height: 254.88px;
        content: "";
        display: block;
        position: absolute;
        top: 0;
      }
      &::before {
        background: url("../assets/img/left.svg");
        right: 100%;
      }
      &::after {
        background: url("../assets/img/right.svg");
        left: 100%;
      }
    }
  }

  &__header {
    font: $mobileHeaderFont200;
    color: $textDark;
    margin-bottom: 16px;
    margin-top: 0;
    @media (min-width: $desktop) {
      font: $desktopHeaderFont200;
      margin-bottom: 24px;
    }
  }

  &__hello {
    display: none;
    @media (min-width: $desktop) {
      width: 250px;
      display: block;
      font: $desktopHeaderFont200;
      font-weight: 700;
      background: $blue;
      color: $white;
      padding: 16px 19px;
      border-radius: 16px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 32px;
        display: block;
        width: 17.42px;
        height: 22.66px;
        background: url("../assets/img/Speech_cloud.svg");
      }
    }
  }

  &__img {
    box-sizing: content-box;
    width: 96px;
    height: 96px;
    border: 16px solid #f6f9fd;
    border-radius: 50%;
    @media (min-width: $desktop) {
      width: 178px;
      height: 178px;
      border: 24px solid #f6f9fd;
    }
  }

  &__link {
    color: $textLink;
    text-decoration: none;

    @media (min-width: $desktop) {
      text-decoration: underline;
      font: $desktopTextBoldFont;
    }
  }

  &__paragraph {
    font: $mobileTextFont;
    color: $textDefault;
    margin: 0 auto;
    margin-bottom: 48px;
    text-align: center;

    @media (min-width: $desktop) {
      font: $desktopTextFont;
      margin-bottom: 64px;
    }
  }

  &__special {
    color: $blue;
  }
}
