
@import "~normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono:wght@400;700&display=swap");

@import "_variables";
@import "modules/contact.scss";
@import "modules/wave.scss";
@import "modules/hero.scss";
@import "modules/projects.scss";
@import "modules/skills.scss";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Nunito;
  color: $textDefault;
}